.bodyClass {
  background-color: #fff;
  position: absolute;
  bottom: -9px;
  left: -41px;
}

.menuClass {
  height: 100%;
  position: absolute !important;
  background-color: transparent;
}

.sideBar{
  height: 90vh;
  width: 400px;
  top: 10vh !important;
  position: absolute !important;
}


