.bodyClass {
  background-color: transparent;
  position: absolute;
  bottom: -9px;
  left: -41px;
}

.menuClass {
  height: 100%;
  position: absolute !important;
  background-color: transparent;
  overflow:scroll;
}

.sideBar{
  height: 90vh;
  z-index: 100;
  top: 10vh !important;
  position: fixed !important;
}


