body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#projSet {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
  /* flex-grow: 2; */
}

#flexRow {
  display: flex;
}

#user-page-container {
  width: 20vw;
  /* flex-grow: 1; */
  /* width: 100%; */
}
