body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#projSet {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4vh;
  margin-left: 1vw;

  /* flex-grow: 2; */
}

#flexRow {
  display: flex;
}

#user-page-container {
  width: 20vw;
  margin-right: 3vw;
  margin-left: 3vw;
  /* flex-grow: 1; */
  /* width: 100%; */
}

#user-page {
  width: 100%;
}
