body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.logged-in {
    float: right;
  }


.dropdown-content li {
    float: left;
}

.navbar-container span, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-container span:hover, .dropdown:hover .dropbtn {
    background-color: lightskyblue;
}

li.dropdown {
    display: inline-block;
}

.navbar-container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-container .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar-container .dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


a {
  text-decoration: none;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



.recipientEmail {
    margin-top: 3px;

}

.recipientName {
  margin-top: 8px;
  margin-bottom: 4px;

}

.email-form-btn {
  color: #0099CC;
  border: 2px solid #0099CC;
  border-radius: 6px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

}

.email-form-btn:hover {
  background-color: #008CBA;
  color: white;
}
