.node{
    position: absolute;
    display: inline-block;
    padding: 20px;
    z-index: 1;
    left: -93px !important;
    background-color: white;
    border: 2px solid;
    bottom: -40px !important;
}

.nodeWrap .nodeWrap .node{
    border: 2px solid;
    bottom: 11px !important;
}

.pointed.node:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -6px;
    height: 12px;
    width: 13px;
    border-radius: 50%;
    background-color: #000;
}

.pointed.node:before{
    content: '';
    position: absolute;
    border-top: 16px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -15px;
    left: 50%;
    margin-left: -10px;
}

.pointed.node span:before{
    content: '';
    position: absolute;
    border-top: 16px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -11px;
    left: 50%;
    margin-left: -10px;
}

.pointed.node{
    left: -51px !important;
}

.nodeWrap .nodeWrap .node:not(.pointed){
    bottom: -9px !important;
    border-width: 0;
    background-color: transparent;
}
svg:not(:root):not(:root){
    overflow: visible;
}
.nodeIcon{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.nodeWrap{
    position: relative;
    left: 10px;
}
.nodeWrap .nodeWrap{
    /*top: -64px;*/
}
.test{
    top: 20px;
}
.connection{
    position: absolute;
    z-index: -2;
    overflow: visible;
}

.dragger{
    position: absolute;
}

.dragger .dragger{
    min-width: 100%;
}

.line{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    display: none;
    overflow: visible;
}

.dragger .line{
    display: block;
}

.functionButtons{
    opacity: 0;
    position: absolute;
    right: -50px;
}

.functionButtons.visible, .functionButtons:hover{
    opacity: 1;
}
